body {
    width: 100%;
    margin: 0;
    padding: 0;
}

div {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.hover--green:hover {
    color: #42b983;
}

.hover--darker-green:hover {
    color: #2e815c;
}

.hover--underline:hover {
    text-decoration: underline;
}